.order h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 65px;
}

.header {
  background-color: #ffffff;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold; /* Use font-weight instead of font-style for bold */
  color: #111827;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #2563eb;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  margin: 35px;
}

.dataTable .rdt_TableHead {
  color: rgb(255 255 255);
}